In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("data.csv")

In [3]:
df

,Make,Model,Year,Engine Fuel Type,Engine HP,Engine Cylinders,Transmission Type,Driven_Wheels,Number of Doors,Market Category,Vehicle Size,Vehicle Style,highway MPG,city mpg,Popularity,MSRP
0,BMW,1 Series M,2011,premium unleaded (required),335.0,6.0,MANUAL,rear wheel drive,2.0,"Factory Tuner,Luxury,High-Performance",Compact,Coupe,26,19,3916,46135
1,BMW,1 Series,2011,premium unleaded (required),300.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,Performance",Compact,Convertible,28,19,3916,40650
2,BMW,1 Series,2011,premium unleaded (required),300.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,High-Performance",Compact,Coupe,28,20,3916,36350
3,BMW,1 Series,2011,premium unleaded (required),230.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,Performance",Compact,Coupe,28,18,3916,29450
4,BMW,1 Series,2011,premium unleaded (required),230.0,6.0,MANUAL,rear wheel drive,2.0,Luxury,Compact,Convertible,28,18,3916,34500
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11909,Acura,ZDX,2012,premium unleaded (required),300.0,6.0,AUTOMATIC,all wheel drive,4.0,"Crossover,Hatchback,Luxury",Midsize,4dr Hatchback,23,16,204,46120
11910,Acura,ZDX,2012,premium unleaded (required),300.0,6.0,AUTOMATIC,all wheel drive,4.0,"Crossover,Hatchback,Luxury",Midsize,4dr Hatchback,23,16,204,56670
11911,Acura,ZDX,2012,premium unleaded (required),300.0,6.0,AUTOMATIC,all wheel drive,4.0,"Crossover,Hatchback,Luxury",Midsize,4dr Hatchback,23,16,204,50620
11912,Acura,ZDX,2013,premium unleaded (recommended),300.0,6.0,AUTOMATIC,all wheel drive,4.0,"Crossover,Hatchback,Luxury",Midsize,4dr Hatchback,23,16,204,50920
11913,Lincoln,Zephyr,2006,regular unleaded,221.0,6.0,AUTOMATIC,front wheel drive,4.0,Luxury,Midsize,Sedan,26,17,61,28995

In [4]:
df.shape

(11914, 16)

In [22]:
df = df[df["Engine HP"].notna()]

In [23]:
df.describe()

,Year,Engine HP,Engine Cylinders,Number of Doors,highway MPG,city mpg,Popularity,MSRP
count,11816.000000,11816.000000,11816.000000,11815.000000,11816.000000,11816.000000,11816.000000,1.181600e+04
mean,2010.360190,249.514472,5.650051,3.432670,26.319736,19.326845,1553.510833,4.057590e+04
std,7.594077,109.261297,1.752333,0.882853,7.442964,6.527183,1439.969241,6.032038e+04
min,1990.000000,55.000000,0.000000,2.000000,12.000000,7.000000,2.000000,2.000000e+03
25%,2007.000000,170.000000,4.000000,2.000000,22.000000,16.000000,549.000000,2.099000e+04
50%,2015.000000,227.000000,6.000000,4.000000,26.000000,18.000000,1385.000000,2.996500e+04
75%,2016.000000,300.000000,6.000000,4.000000,30.000000,22.000000,2009.000000,4.220500e+04
max,2017.000000,1001.000000,16.000000,4.000000,354.000000,137.000000,5657.000000,2.065902e+06

In [24]:
x = df[['Year',"Engine HP", "Engine Cylinders"]]

In [25]:
x

       Year  Engine HP  Engine Cylinders
0      2011      335.0               6.0
1      2011      300.0               6.0
2      2011      300.0               6.0
3      2011      230.0               6.0
4      2011      230.0               6.0
...     ...        ...               ...
11909  2012      300.0               6.0
11910  2012      300.0               6.0
11911  2012      300.0               6.0
11912  2013      300.0               6.0
11913  2006      221.0               6.0

[11816 rows x 3 columns]

In [26]:
y = df["city mpg"]

In [27]:
x.describe()

               Year     Engine HP  Engine Cylinders
count  11816.000000  11816.000000      11816.000000
mean    2010.360190    249.514472          5.650051
std        7.594077    109.261297          1.752333
min     1990.000000     55.000000          0.000000
25%     2007.000000    170.000000          4.000000
50%     2015.000000    227.000000          6.000000
75%     2016.000000    300.000000          6.000000
max     2017.000000   1001.000000         16.000000

In [28]:
x = x[x["Engine HP"].notna()]

In [29]:
x.describe()

               Year     Engine HP  Engine Cylinders
count  11816.000000  11816.000000      11816.000000
mean    2010.360190    249.514472          5.650051
std        7.594077    109.261297          1.752333
min     1990.000000     55.000000          0.000000
25%     2007.000000    170.000000          4.000000
50%     2015.000000    227.000000          6.000000
75%     2016.000000    300.000000          6.000000
max     2017.000000   1001.000000         16.000000

In [30]:
y.describe()

count    11816.000000
mean        19.326845
std          6.527183
min          7.000000
25%         16.000000
50%         18.000000
75%         22.000000
max        137.000000
Name: city mpg, dtype: float64

In [31]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

In [32]:
model = DecisionTreeClassifier()

In [33]:
x_train, x_test, y_train,y_test = train_test_split(x,y,test_size=0.2)

In [34]:
model.fit(x_train,y_train)

DecisionTreeClassifier()

In [35]:
prediction = model.predict(x_test)

In [36]:
accuracy_score(y_test, prediction)

0.5236886632825719